/.project
/.pydevproject
*.pyc
/.installed.cfg
/bin
/dist
/parts
/eggs
/downloads
/build
/develop-eggs
*.egg-info
/*.egg
/setup.cfg
/src/rrt/RELEASE-VERSION
/src/rrt/max/ui/*.py
!/src/rrt/max/ui/__init__.py
