[buildout]
develop = .
parts = python
		test

eggs =  ludibrio
		nose
		ringling-render-tools

[python]
recipe = zc.recipe.egg
eggs = ${buildout:eggs}
interpreter = python

[test]
recipe = pbp.recipe.noserunner
eggs =  ${buildout:eggs}
working-directory = src