[buildout]
develop = .
parts = test python
eggs =  coverage
	ringling-render-tools

[python]
recipe = zc.recipe.egg
eggs = ${buildout:eggs}
interpreter = python

[test]
recipe = pbp.recipe.noserunner
eggs =  ${buildout:eggs}
working-directory = src

